.ant-message-notice-content {
  color: #19bf6c;
  background: #edfff3;
  border: 1px solid #bbf2cf;
}
.side-bar .level-2 a {
  font-weight: 700;
}
.sidebar-group-items a:before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #3eaf7c;
  position: absolute;
  transform: translate(-10px, 11px);
  border-radius: 50%;
}
.page-edit {
  display: none;
}
.can-hide .nav-item {
  margin-left: 1.5rem !important;
}
.can-hide .nav-item:nth-child(n + 4) {
  margin-left: 1.1rem !important;
}
.icon.outbound {
  display: none !important;
}
.site-name {
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-item h4 {
  font-weight: 700;
  padding-bottom: 0.4rem !important;
}
.search-box {
  margin-right: 0 !important;
}
div.footer-wrapper {
  display: none;
}
.desc p {
  /* font-size: 13px; */
  margin: 0 !important;
}
.loading-wrapper .title {
  display: none;
}
.loading-wrapper .description {
  display: none;
}
.box-footer .demo-wrap .demo-nav {
  display: none !important;
}
.box-footer .demo-wrap {
  border-radius: 0 !important;
  margin: 0px;
}
.demo-code-btn {
  user-select: none;
}
.sidebar .personal-info-wrapper {
  display: none !important;
}
.comments-wrapper p {
  margin: 0;
}
.comments-wrapper span {
  padding: 0 0.5rem;
}
.comments-wrapper {
  color: #7f7f7f;
  text-align: center;
  font-weight: 600;
  padding: 0rem 2.5rem;
}
.iconfont {
  font-size: 15px !important;
}
.reco-github {
  color: #24292E !important;
}
.reco-wechat {
  /* color: #67cc79 !important; */
}
.page-nav {
  display: none;
}
.home-page-wrapper table img {
  transform: translateY(2px);
}
/* .home-page-wrapper table tr:nth-child(n) {
  background-color: #f0f9eb;
} */
.can-hide .dropdown-wrapper .dropdown-title .arrow {
  margin-left: 0.1rem;
}
.content__default h1:first-child {
  display: block;
}

/* 首页css */
.footer-wrapper {
  display: none !important;
}
.home-page-wrapper {
  padding-top: 3.4rem;
}
.home-page-wrapper .logo {
  max-width: 12rem;
  width: 100%;
  display: block;
  margin: 1rem auto 1rem;
  user-select: none;
}
.home-page-wrapper section.main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  /* height: calc(100vh - 3.4rem); */
  overflow: hidden;
  text-align: center;
  background: url('/bg.svg') center/cover no-repeat;
}
.home-page-wrapper section.main h1 {
  margin: 1rem;
  font-size: 1.6rem;
  display: block;
}
.home-page-wrapper section.main .title {
  margin: 1.8rem auto;
  max-width: 36rem;
  line-height: 2.4rem;
}
.home-page-wrapper section.main p {
  font-size: 20px;
  margin-bottom: 2rem;
}
.home-page-wrapper section.main .btn-about {
  margin: 1rem 0;
  display: inline-block;
  padding: .6rem 1.2rem;
  border-radius: 0.25rem;
  background: #3eaf7c;
  color: #fff;
  font-size: 1rem;
}
.home-page-wrapper section.main .banner {
  display: block;
  width: 100%;
}
.home-page-wrapper .footer {
  border-top: 1px solid #f2f2f2;
  text-align: center;
  padding: 1.3rem 1rem;
}
.home-page-wrapper .footer span {
  color: #7f7f7f;
  font-weight: 600;
  padding: 0 0.5rem;
}
.home-page-wrapper .footer p {
  line-height: 1.5rem;
  margin: 10px 0;
}
.home-page-wrapper section.wish {
  overflow: hidden;
}
.home-page-wrapper section.wish .wish-inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  max-width: 56rem;
  width: 100%;
  min-height: 25rem;
  display: flex;
  align-items: center;
}
.text-wrapper h1 {
  display: block;
}
.wish:nth-child(2n + 1) {
  background: #fafafb;
}
.wish-inner>div {
  flex: auto;
}
.wish-inner p {
  line-height: 26px;
  margin: 10px 0;
  font-weight: 500;
}
.wish-inner li {
  line-height: 26px;
  margin: 10px 0;
  font-weight: 500;
}
.wish-inner>div.img-wrapper {
  max-width: 22rem;
  user-select: none;
}
.wish-inner>div.img-wrapper img {
  display: block;
}
.wish-inner>div.text-wrapper {
  box-sizing: border-box;
  padding: 0 2rem;
}
.home-page-wrapper .plugin {
  max-width: 56rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
}
.home-page-wrapper .plugin>div {
  padding: 1.3rem 0 1rem;
  width: 30%;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background: #fff;
}
.home-page-wrapper .plugin>div h1 {
  font-size: 18px;
  color: #1f2f3d;
  font-weight: 400;
}
.home-page-wrapper .plugin>div p {
  font-size: 14px;
  color: #99a9bf;
  padding: 0 25px;
  line-height: 20px;
  margin: 0.5rem 0;
}
.stargazers {
  margin: 0 auto;
  padding: 0 2rem 3rem;
  max-width: 56rem;
  user-select: none;
}
.stargazers .avatar-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
}
.stargazers .avatar-box a img {
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.3);
}
.stargazers .avatar-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 719px) {
  .home-page-wrapper section {
    padding: 0 2rem;
  }
  .home-page-wrapper .logo {
    max-width: 10rem;
  }
  .home-page-wrapper section.main {
    /* height: 580px; */
  }
  .home-page-wrapper section.description h1 {
    margin-top: 5rem;
  }
  .home-page-wrapper section.description .btn-about {
    font-size: 0.9rem;
  }
  .home-page-wrapper section.md-content-wrapper {
    padding: 0;
  }
  .home-page-wrapper section.wish .wish-inner {
    display: block;
    padding: 2rem 0;
  }
  .home-page-wrapper section.wish .wish-inner .img-wrapper {
    margin: 0 auto;
  }
  .home-page-wrapper section.wish .wish-inner {
    display: block;
    padding: 2rem 0;
  }
  .home-page-wrapper section.wish .wish-inner .img-wrapper {
    margin: 0 auto;
  }
  .home-page-wrapper .plugin>div {
    width: 43%;
    /* padding: 1rem 0 1rem 0; */
    margin: 0.8rem 1rem;
  }
  /* .home-page-wrapper .plugin>div:nth-child(n+3) {
    display: none;
  } */
}
@media (max-width: 419px) {
  .home-page-wrapper section {
    padding: 0 2rem;
  }
  .home-page-wrapper section.main {
    /* height: 580px; */
  }
  .home-page-wrapper section.main .title {
    padding: 0 2rem;
    margin: 1.8rem auto;
    max-width: 36rem;
    line-height: 2.4rem;
    font-size: 1.4rem
  }
  .home-page-wrapper .logo {
    max-width: 10rem;
  }
  .home-page-wrapper section.description h1 {
    margin-top: 5rem;
  }
  .home-page-wrapper section.description .btn-about {
    font-size: 0.8rem;
  }
  .home-page-wrapper section.md-content-wrapper {
    padding: 0;
  }
  .home-page-wrapper section.wish .wish-inner {
    display: block;
    padding: 2rem 0;
  }
  .home-page-wrapper section.wish .wish-inner .img-wrapper {
    margin: 0 auto;
  }
  .home-page-wrapper section.wish .wish-inner {
    display: block;
    padding: 2rem 0;
  }
  .home-page-wrapper section.wish .wish-inner .img-wrapper {
    margin: 0 auto;
  }
  .home-page-wrapper .plugin>div {
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin: 0.8rem 3rem;
  }
  /* .home-page-wrapper .plugin>div:nth-child(n+2) {
    display: none;
  } */
  .phong-hide {
    display: none !important;
  }
}
img {
  pointer-events: none;
  user-select: none;
}