<div id="my-lucky"></div>
<script src="https://cdn.jsdelivr.net/npm/lucky-canvas@1.3.3/dist/lucky-canvas.umd.min.js"></script>
<script>
  let luckyWheel = new LuckyCanvas.LuckyWheel({
    el: '#my-lucky',
    width: '200px',
    height: '200px'
  }, {
    blocks: [
      { padding: '10px', background: '#d64737' },
      { padding: '0px', background: '#fff' },
    ],
    buttons: [
      { radius: '40px', background: '#d64737' },
      { radius: '35px', background: '#f6c66f', pointer: true },
      {
        radius: '30px',
        background: '#fff',
        fonts: [
          { text: '开始\n抽奖', top: '-20px' },
          { text: '这是按钮文字', top: '20px' }
        ]
      }
    ],
  })
</script>
