<div id="my-lucky" style="width: 200px; height: 200px"></div>
<script src="../lucky-canvas.umd.min.js"></script>
<script>
  let luckyWheel = new LuckyCanvas.LuckyWheel('#my-lucky', {
    blocks: [{ padding: '10px', background: '#d64737' }],
    prizes: [
      { fonts: [{ text: '0' }], background: '#f8d384' },
      { fonts: [{ text: '1' }] },
      { fonts: [{ text: '2' }], background: '#f8d384' },
      { fonts: [{ text: '3' }] },
      { fonts: [{ text: '4' }], background: '#f8d384' },
      { fonts: [{ text: '5' }] },
    ],
    defaultStyle: {
      fontColor: 'red',
      fontSize: '30px',
      background: 'pink'
    },
  })
</script>
