<div id="my-lucky" style="width: 200px; height: 200px"></div>
<script src="../web-luck-draw.umd.min.js"></script>
<script>
  let luckyWheel = new LuckDraw.LuckyWheel('#my-lucky', {
    blocks: [{ padding: '10px', background: '#d64737' }],
    prizes: [
      { background: '#f8d384' },
      { background: '#f9e3bb' },
      { background: '#f8d384' },
      { background: '#f9e3bb' },
      { background: '#f8d384' },
      { background: '#f9e3bb' },
    ],
    buttons: [{ radius: '30px', background: 'rgba(0, 0, 0, 0.1)' }],
    defaultConfig: { gutter: '5px' }
  })
</script>
