<div id="my-lucky"></div>
<script src="https://cdn.jsdelivr.net/npm/lucky-canvas@1.4/dist/lucky-canvas.umd.min.js"></script>
<script>
  let luckyWheel = new LuckyCanvas.LuckyWheel({
    el: '#my-lucky',
    width: '200px',
    height: '200px'
  }, {
    blocks: [{ padding: '10px', background: '#d64737' }],
    prizes: [
      { imgs: [{ src: '../examples/img/1.png' }], background: '#f8d384' },
      { imgs: [{ src: '../examples/img/1.png', width: '30%' }], background: '#f9e3bb' },
      { imgs: [{ src: '../examples/img/1.png', width: '40%', height: '50%' }] }
    ],
  })
</script>
