<div id="my-lucky"></div>
<script src="https://cdn.jsdelivr.net/npm/lucky-canvas/dist/lucky-canvas.umd.min.js"></script>
<script>
  let luckyWheel = new LuckyCanvas.LuckyWheel({
    el: '#my-lucky',
    width: '200px',
    height: '200px'
  }, {
    blocks: [{ padding: '10px', background: '#d64737' }],
    prizes: [
      { fonts: [{ text: '0' }], background: '#f8d384' },
      { fonts: [{ text: '1', top: '20px' }], background: '#f9e3bb' },
      { fonts: [{ text: '2', top: '100%' }], background: '#fff' }
    ],
  })
</script>
