<div id="my-lucky"></div>
<script src="https://cdn.jsdelivr.net/npm/lucky-canvas@1.4/dist/lucky-canvas.umd.min.js"></script>
<script>
  let luckyGrid = new LuckyCanvas.LuckyGrid({
    el: '#my-lucky',
    width: '200px',
    height: '200px'
  }, {
    blocks: [{ padding: '5px', background: '#ff4a4c', borderRadius: 10 }],
    buttons: [{
      x: 1, y: 1, borderRadius: 10,
      imgs: [{
        src: '../examples/img/button.png',
        width: '75%',
        top: '20%'
      }]
    }],
  })
</script>
