<!-- 左边3宫格 -->
<div id="my-lucky1" style="width: 200px; height: 200px"></div>
<!-- 右边4宫格 -->
<div id="my-lucky2" style="width: 200px; height: 200px; margin-top: 10px"></div>
<script src="../lucky-canvas.umd.min.js"></script>
<script>
  let luckyGrid1 = new LuckyCanvas.LuckyGrid('#my-lucky1', {
    blocks: [{ padding: '5px', background: '#ff4a4c', borderRadius: 10 }],
    prizes: [
      { x: 0, y: 0, col: 3 },
      { x: 1, y: 1, col: 2, row: 2 },
      { x: 0, y: 1, row: 2 }
    ],
  })
  let luckyGrid2 = new LuckyCanvas.LuckyGrid('#my-lucky2', {
    blocks: [{ padding: '5px', background: '#ff4a4c', borderRadius: 10 }],
    prizes: [
      { x: 0, y: 0, col: 2 },
      { x: 2, y: 0, row: 2 },
      { x: 1, y: 2, col: 2 },
      { x: 0, y: 1, row: 2 }
    ],
  })
</script>
