<div id="my-lucky"></div>
<script src="https://cdn.jsdelivr.net/npm/lucky-canvas@1.4/dist/lucky-canvas.umd.min.js"></script>
<script>
  let luckyGrid = new LuckyCanvas.LuckyGrid({
    el: '#my-lucky',
    width: '200px',
    height: '200px'
  }, {
    rows: 2,
    cols: 2,
    blocks: [{ padding: '5px', background: '#ff4a4c', borderRadius: 10 }],
    prizes: [
      { x: 0, y: 0, fonts: [{ text: '这个格子会自动换行' }] },
      { x: 0, y: 1, fonts: [{ text: '这个格子\n是\n手动换行', wordWrap: false }] },
    ],
  })
</script>
