<div id="my-lucky" style="width: 200px; height: 200px"></div>
<script src="../lucky-canvas.umd.min.js"></script>
<script>
  let luckyGrid = new LuckyCanvas.LuckyGrid('#my-lucky', {
    rows: 2,
    cols: 2,
    blocks: [{ padding: '5px', background: '#ff4a4c', borderRadius: 10 }],
    prizes: [
      {
        x: 0, y: 0,
        imgs: [{
          width: '60%', top: '15%',
          src: '../examples/img/1.png',
          activeSrc: '../examples/img/0.png'
        }]
      },
      {
        x: 1, y: 0,
        imgs: [{
          width: '60%', top: '15%',
          src: '../examples/img/1.png',
          activeSrc: '../examples/img/0.png'
        }]
      },
      {
        x: 1, y: 1,
        imgs: [{
          width: '60%', top: '15%',
          src: '../examples/img/1.png',
          activeSrc: '../examples/img/0.png'
        }]
      },
      {
        x: 0, y: 1,
        imgs: [{
          width: '60%', top: '15%',
          src: '../examples/img/1.png',
          activeSrc: '../examples/img/0.png'
        }]
      },
    ],
  })
</script>
